


<main>
{{!--Formulario --}}
<div class="container" style="background-color: gray">
    <h1>Teste</h1>
    <div class="row">
        <div class="col-6 offset-3" style="background-color:aquamarine"> 
            <form /action="/editar" method="post" enctype="multipart/form-data">
                <input type="number" name="codigo">
                <input type="text" name="nome" class="form-control" placeholder="Nome produto">
                <input type="number" name="valor" class="form-control" placeholder="Valor produto">
                <input type="file" name="imagem" class="form-control">
                <input type="submit" class="btn btn-primary" value="Cadastrar">
                <a href="/" class="btn btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>


</div>


</main>